.menu {
    background-color: var(--cor-destaque);
    width: 15vw;
    height: 100vh;
    position: relative;
}


.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background-color: var(--cor-fundo);
}

.imgContainer img {
    width: 70%;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    padding-top: 5vh;
}

.navItem {
    color: var(--cor-mais-clara);
    width: 100%;
    padding-block: 1rem;
    text-align: center;
}

.navItem:hover {
    background-color: var(--cor-fundo);
    color: var(--cor-mais-escura);
}

/*-------------------------------------*/


.hamburguerMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    z-index: 999;
    height: 100vh;
    width: 50vw;
    max-width: 200px;
    background-color: var(--cor-destaque);
}

.hamburguerMenu img {
    width: 40%;
}

.abrirMenu, .fecharMenu {
    display: none;
    position: absolute;
    left: 20px;
    top: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 99999;
    font-size: 2rem;
}

.abrirMenu:hover, .fecharMenu:hover {
    transform: scale(1.025);
}

 
@media (max-width: 800px) {

    .menu {
        left: -100%;
    }

   .abrirMenu, .fecharMenu {
    display: block;
   }
 }
